*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
canvas{
    background: #222;
    border: 2px solid #444;
}